header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header-wrapper {
  background-color: #212121;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.logo {
  background-color: aqua;
  display: flex;
  align-items: center;
}
.logo > h1 > a {
  text-decoration: none;
  color: black;
}
nav {
  flex: 4 0 0;
}
nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-link {
  padding: 0 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  /* transition: all 0.6s linear(0.8, 0, 0.1, 1); */
}

.nav-link:hover {
  color: aquamarine;
}
.nav-link.active {
  color: cadetblue;
}
main {
  margin-top: 120px;
}
.box {
  height: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.box:nth-child(1) {
  background-color: bisque;
}
.box:nth-child(2) {
  background-color: #fcd3a4;
}
.box:nth-child(3) {
  background-color: #f9bd77;
}
.box:nth-child(4) {
  background-color: #f9aa4f;
}
.box:nth-child(5) {
  background-color: #f7982c;
}
.box1 {
  width: 100%;
  height: 100%;
}
.slick-slide img {
  height: 500px;
  margin: auto;
}
.box2 {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background: #242424;
  color: white;
}
.box3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box3-items {
  margin: 0 1rem;
  transition: all 0.3s linear;
}
.box3-items:hover .box3_img,
.box3-items:hover .box3_h4 {
  transform: scale(1.05);
  color: cadetblue;
}
.box3_h4 {
  font-size: 1.33rem;
  transition: all 0.3s linear;
}
.box3-items p {
  font-size: 1rem;
}
.box3_img {
  height: 400px;
  width: 300px;
  transition: all 0.3s linear;
}
